.dashboard-page * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-page {
    font-family: Arial, sans-serif;
    background-color: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../Assets/background.jpg');
    background-size: cover;
    background-position: center;
}

.dashboard-page .wrapper {
    width: 600px;
    max-width: 90%;
    background: transparent;
    color: #fff;
    padding: 30px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.dashboard-page .wrapper h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.dashboard-page .wrapper h2 {
    font-size: 24px;
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.8);
}

.sections-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.section-box {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.section-box h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.section-box p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 5px;
}

.dashboard-page button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.dashboard-page button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}